@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default browser styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f4ec;
  color: #000;
}

@font-face {
  font-family: "Erotique Trial";
  src: url("/fonts/ErotiqueTrial-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Erotique Trial";
  src: url("/fonts/ErotiqueTrial-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}
